# ErrorPage config
server:
  error:
    whitelabel:
      enabled: false
    path: /error

# DataSource config
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/supermarket_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  # JPA config
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  # Thymeleaf config
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML5
    cache: false
